#Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - master
    - beta/*
    - hotfix/*

pool:
  vmImage: ubuntu-latest

variables:
  sonarQubeTags: 'Flow Building'
  sonarQubeKey: 'Blip_SDK_CSharp'
  sonarQubeName: 'BLiP SDK CSharp'
  checkmarxName: 'BLiP SDK'
  framework: dotnet

name: 0.7$(Rev:.r)

resources:
  repositories:   
  - repository: templates
    type: git
    name: Operações/template-take-blip
    ref: feature/update-dotnet-task
    #ref: refs/tags/v1.4.43

extends:
  template: template-pipeline.yml@templates    
  parameters:    
    packagename: blip-sdk-csharp  
    nugetAuthenticate: true
    vstsFeed: "BlipNuget"
    type: dotnet
    to: nuget
    nugetServiceConnection: Nuget.org Take
    dotnetVersion: "8.0.x"
    testProjects: src/Take.Blip.Client.sln
    testPermission: true
    skipSonarBranch: false
    skipSast: false
    sastFilter: "!**/**, src/**/*"
    csprojToPack:
    - 'Take.Blip.Builder.csproj'
    - 'Take.Blip.Client.csproj'
    - 'Take.Blip.Client.Web.csproj'
    - 'Take.Blip.Client.Console.csproj'
    - 'Take.Blip.Client.TestKit.csproj'
