<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- Uncomment the line bellow to enable logging on file system-->
        <add name="fileTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="bliphost.log" />
        <!-- Uncomment the line bellow to enable logging on EventViewer -->
        <!--<add name="eventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="BLiP Host" />-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>