<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="myget-jint" value="https://www.myget.org/F/jint/api/v3/index.json" />
    <add key="myget-esprima" value="https://www.myget.org/F/esprimadotnet/api/v2/package" />
  </packageSources>
</configuration>
