<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lime.Messaging" version="0.7.178" targetFramework="net461" />
  <package id="Lime.Protocol" version="0.7.178" targetFramework="net461" />
  <package id="Lime.Protocol.Serialization" version="0.7.178" targetFramework="net461" />
  <package id="Lime.Transport.Tcp" version="0.7.178" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.5" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.1.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="SmartFormat.NET" version="2.0.0.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net461" />
  <package id="Takenet.Iris.Messaging" version="1.8.506" targetFramework="net461" />
  <package id="Takenet.MessagingHub.Client" version="0.4.169" targetFramework="net461" />
  <package id="Takenet.MessagingHub.Client.WebhookTemplate" version="0.4.169" targetFramework="net461" />
</packages>