name: .NET Core
permissions:
  contents: read

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8

    - name: Install dependencies
      run: dotnet restore src/Take.Blip.Client.sln

    - name: Build
      run: dotnet build src/Take.Blip.Client.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test src/Take.Blip.Client.sln --no-restore --verbosity normal
