name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301

    - name: Install dependencies
      run: dotnet restore src/Take.Blip.Client.sln

    - name: Build
      run: dotnet build src/Take.Blip.Client.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test src/Take.Blip.Client.sln --no-restore --verbosity normal
